/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
}

.container {
    margin: auto;
    width: 900px;
    position: relative;
}

.welcome-wrapper {
    position: fixed;
    background-color: black;
    /* Old browsers that don't support rgba */
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 111;
}

.welcome {
    width: 80%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 222;
}

iframe {
    width: 100%;
    height: 100%;
    z-index: 333;
}

.welcome-close {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 444;
    text-align: center;
}

.header {
    position: fixed;
    padding: 20px 0px 5px 10px;
    z-index: 100;
}

.header .logo {
    font-size: 28px;
    font-weight: bold;
}

.header .logo h1 {
    font-size: 34px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(236, 125, 22);
    /* width and color */

}

.menu ul {
    box-sizing: border-box;
}

.menu ul li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 15px;
    background-color: rgb(0, 109, 199);
    border-radius: 10px;
}

.menu a {
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.menu a:hover {
    background-color: rgb(30, 177, 235);
    color: white;
    border-radius: 10px;
}

.jumbotron {
    background-image: url(images/xps.jpg);
    background-size: cover;
    height: 500px;
    border-top: 5px solid rgb(30, 177, 235);
    position: relative;
}

.jumbotron .wraper-sosmed {
    align-items: center;
    position: absolute;
    top: 423px;
    left: 730px;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.jumbotron .wraper-sosmed p {
    color: white;
    font-weight: bold;
    margin-left: 5px;
}

.jumbotron .wraper-sosmed .sosmed {
    text-align: center;
    font-size: 14px;
    line-height: 50px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    cursor: pointer;
}


.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: 50px;
    background-image: url(images/background-content.jpg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100% 100%;
}

.content .col {
    width: 100%;
    display: inline-flex;
    margin-bottom: 40px;
}

.content .row {
    border-radius: 5px;
    background-color: white;
    margin: 5px;
    padding: 10px 15px 5px 15px;
    position: relative;
}

.ribbon {
    width: 75px;
    height: 75px;
    color: white;
    position: absolute;
    left: 350px;
    top: -40px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: red;
    font-weight: bold;
}

.ribbon-blue {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: white;
    position: absolute;
    left: 350px;
    top: -40px;
    background-color: blue;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
}

.content .image-article {
    float: left;
    width: 120px;
    height: 80px;
    margin-right: 5px;
    border-radius: 5px;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: tomato;
}

.content .penulis {
    font-size: 14px;
    margin-top: -2px;
}

.content a {
    text-decoration: none;
    color: darkblue;
}

.content .time-article {
    font-size: 10px;
    margin-top: -15px;
}

.content .body {
    display: inline-block;
}

.content p {
    font: 16px;
    margin-bottom: 5px;
    text-align: justify;
}

.footer {
    position: relative;
    padding: 0 10px;
    text-align: right;
    font-weight: bold;
    background-color: rgb(0, 109, 199);
    color: white;
}