/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font: 16px/28px arial, sans-serif;
}

.container {
    width: inherit;
    background-color: cyan;
}

.box {
    padding: 30px;
}

.header {
    font: 48px bold;
}

.content {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    position: relative;
    padding: 3px 0 10px 10px;
}


.content .image-article {
    float: left;
    width: 100px;
    height: 70px;
    margin-right: 5px;
    border-radius: 5px;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    color: tomato;
}

.content .penulis {
    font-size: 14px;
    margin-top: -2px;
}

.content a {
    text-decoration: none;
    color: darkblue;
}

.content .time-article {
    font-size: 10px;
    margin-top: -15px;
}

.content .body {
    display: block;
}

.content p {
    font: 16px;
    margin-bottom: 5px;
    text-align: justify;
}

button {
    background-color: red;
    font: 16px bold arial;
    color: white;
    padding: 2px;
    border: 10px;
    height: 30px;
    width: 70px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
}