.header {
    width: inherit;
    background-color: white;
    padding: 10px;
    box-shadow: 3px 3px 11px 3px rgb(0 0 0 /32%);
}

.menu {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.menuItems {
    font: 22px bold;
    color: tomato;
    margin: 0 14px;
}